body{
    margin: 0px;
    padding: 0px;
}
.navbar{
    height: 60px;
    background-color: red;
    padding-top: 5px;
}
.navbar nav ul li{
    display: inline-block;
}
.navbar nav ul li .nav{
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    padding: 3px 7px;
}
.navbar nav ul li .nav:hover{
    background-color: #fff;
    color: red;
}